@model IEnumerable<SimpleVotingApplication.Models.ElectionsModel>

@{
    ViewData["Title"] = "ViewElection";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="mt-3">Elections</h1>

<p>
    <a asp-action="AddElection">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="EditElection" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-warning" asp-action="DeleteElection" asp-route-id="@item.Id" asp-controller="Election">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
